
<ion-header>
  <ion-toolbar>
    <ion-title color="primary">Login Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content margin:auto>
  <div class="container">
      <form [formGroup]="loginForm">
          <ion-input color="primary" formControlName='email' placeholder="Enter email address:" type="text"></ion-input>
          <ion-input color="primary" formControlName="password" placeholder="Enter password" type="password"></ion-input>
          <ion-button (click)="login()">Login</ion-button><ion-button color="success" (click)="signup()">Sign Up</ion-button>
        </form>
  </div>
</ion-content>
